.logo_img {
  max-width: 100%;
}

@media (min-width: 571px) {
  .logo_img {
    max-width: 50%;
  }
}

.hero {
  color: #fff;
  background-color: hsl(222, 29%, 7%);
  padding: 4em 1.2em;
}
.we_are {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 571px) {
  .we_are {
    flex-direction: row;
  }
  .we_are > div:nth-child(1) {
    min-width: 60%;
  }
}
.about {
  display: flex;
  flex-direction: column;
}
.services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3em;
  padding-top: 6em;
}
.services > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(220, 16%, 11%);
  padding: 5em 2em;
  border-radius: 10px;
}
@media (min-width: 571px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  color: #fff;
  background-color: hsl(222, 21%, 9%);
}
.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.footer > div > img {
  max-width: 30%;
}

@media (min-width: 571px) {
  .footer > div > img {
    max-width: 20%;
  }
}
